<!doctype html/>
{% load static %}
<html>
<head>
  <script type="text/html" id="pirateTemplate">
    <div class="pirate<%=counter %>">
      <img class="stars" src="<%= stars %>"/>
      <img class="pirate" src="http://kgts.in/static/images/P<%= imageLink %>.png"/>
    </div>	
  </script>
  <script type="text/html" id="tableTemplate">
    <div class="p1Coins">
      <%= p1 %><span class="money">&#9921;</span>
    </div>
    <div class="p2Coins">
      <%= p2 %><span class="money">&#9921;</span>
    </div>
    <div class="p3Coins">
      <%= p3 %><span class="money">&#9921;</span>
    </div>
    <div class="p4Coins">
      <%= p4 %><span class="money">&#9921;</span>
    </div>
    <img class="scroll" src="{% static "images/click.png" %}" onclick="exitScroll();"/>
    <form class="scrollInput rolled">
      {% csrf_token %}
      <span class="closeButton" title="Exit" onclick="exitScroll();">X</span>
      <br/>
      <%= s1 %>
      Player <%= pl1 %>: <input name="val1" type="text" value="<%= p1 %>" placeholder="00" />
      <span class="money">&#9921;</span><br/>
      <%= s2 %>
      Player <%= pl2 %>: <input name="val2" type="text" value="<%= p2 %>" placeholder="00" />
      <span class="money">&#9921;</span><br/>
      <%= s3 %>
      Player <%= pl3 %>: <input name="val3" type="text" value="<%= p3 %>" placeholder="00" />
      <span class="money">&#9921;</span><br/>
      <%= s4 %>
      Player <%= pl4 %>: <input name="val4" type="text" value="<%= p4 %>" placeholder="00" />
      <span class="money">&#9921;</span><br/><br/>
      <span style="display:none;"><input name="pos" type="text" value="<%= pl5 %>" placeholder="00" /></span>
      <span class="labelText scrollError"></span>
      <span class="scrollSubmit" >Submit</span>
    </form>
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="keywords" content="pirates,game,online game,iit kgp,iit kharagpur,kgts,kharagpur game theory society" />
  <script>static="{% get_static_prefix %}";</script>
  <link href='http://fonts.googleapis.com/css?family=Pirata+One' rel='stylesheet' type='text/css'>
  <title>Brethren of the coast</title>
  <link rel="stylesheet" href="{% static "css/global.css" %}" />
  <script src="{% static "js/require.js" %}" data-main="{% static "js/main.js" %}" ></script>
</head>
<body>
  <div class='topBar'>
    <img src="{% static "images/Menu.png" %}" class="topMenu" />
    <img src="{% static "images/BOTC1.png" %}" class="topLogo" />
    <iframe class='fblike' src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FThe.KGTS&width=100&height=21&colorscheme=light&layout=button_count&action=like&show_faces=true&send=false&appId=414682281965382"></iframe>
  </div>
  <div class="menuDropDown ascend">
    <img src="{% static "images/dropDown.png"%}"/>
    <a class='dropDownOption' href="#play">Play</a>
    <a class='dropDownOption' href="#dashboard">Dashboard</a>
    <a class='dropDownOption' href="#rules">Rules</a>
    <img src="{% static "images/dropDown.png"%}"/>
  </div>
  <div class="mainBar">
    <div class="mainOption mainOptionHome"%>
      <div class="treasure"></div>
      <img class="flag" />
      <div class="pirates">
      </div>
      <div class="homeTable">
	
      </div>
      <div class="homeMiniMapLabel">Your Position</div>
      <div class="homeMiniMap">
	<div class="miniMapTable"></div>
	<div class="miniMapBox1 miniMapBox">1</div>
	<div class="miniMapBox2 miniMapBox">2</div>
	<div class="miniMapBox3 miniMapBox">3</div>
	<div class="miniMapBox4 miniMapBox">4</div>
	<div class="miniMapBox5 miniMapBox">5</div>
      </div>
    </div>
    <div class="mainOption mainOptionAbout"></div>
    <div class="mainOption mainOptionDashboard active">
      <div class="leaderboard">Leaderboard</div>
      <div class="dashboardMessage">
	Ahoy!! Welcome to Brethren of the Coast Session 0.0. Today's round is Practice session where we encourage you to browse through the rules of the game and the interface. A detailed section on How to Play has been added to facilitate your understanding. Once you are done with the rules, click on Start Playing to explore the game's interface. The competition starts with morning session on 26th October (8 am to 6 pm). You can log in anytime before the scheduled end of each session and make your moves. All the best!<br/><br/>
	<div style="width:100%;text-align:center;">Click Menu on the top left to get started</div>
      </div>
    </div>
    <div class="mainOption mainOptionRules" style="text-align:center;padding-top:15%;">
      Will be uploaded in 5 minutes. Keep surfing the site.
    </div>
  </div>
</body>
</html>
