body,html,head{
margin:0;
padding:0;
}
div.shipData{
font-size:19px;
color:white;
position:absolute;
top:2%;
left:2%;
width:30%;
}
script{
display:none;
}
body{
height:100%;
box-sizing:border-box;
overflow:hidden;
}
*{
font-family:'Pirata One',cursive;
}
a{
text-decoration:none;
color:white;
}
iframe{
border:0;
}
div.topBar{
box-shadow:0px 4px 10px 4px #000;
z-index:999;
position:relative;
box-sizing:border-box;
height:6%;
background-image:url(/static/images/Wood.png);
background-size:cover;
}
div.topBar > img.topMenu{
height:70%;
position:relative;
top:15%;
left:3px;
cursor:pointer;
}
div.topBar > img.topLogo{
height:90%;
position:absolute;
width:30%;
left:35%;
top:5%;
}
div.menuDropDown{
display:inline-block;
position:absolute;
left:0;
top:6%;
width:15%;
-webkit-transition:top 0.3s;
-moz-transition:top 0.3s;
-o-transition:top 0.3s;
transition:top 0.3s;
z-index:998;
}
div.menuDropDown.ascend{
top:-200px;
}
div.menuDropDown > *{
width:100%;
}
div.menuDropDown > a.dropDownOption{
display:inline-block;
text-align:center;
padding:5px 0px;
font-size:30px;
background-image:url('/static/images/Plank.png');
height:40px;
box-sizing:border-box;
color:white;
background-size:100% 100%;
}
iframe.fblike{
float:right;
max-height:100%;
max-width:100px;
margin-top:1%;
}
div.mainBar{
width:100%;
height:94%;
background:white;
position:relative;
}
div.mainBar>div.mainOption{
position:absolute;
width:100%;
height:100%;
background-size:cover;
display:none;
}
div.mainOption.active{
display:block !important;
}
div.leaderboard{
position:absolute;
top:0;
right:0;
background-image:url(/static/images/Plank.png);
width:27%;
text-align:center;
background-size:100% 100%;
color:white;
padding:10px;
font-size:25px;
height:40px;
box-sizing:border-box;
}
div.leaderboardRanks{
position:absolute;
top:40px;
right:0;
width:27%;
font-size:25px;
color:white;
}
div.leaderboardPlank{
padding:4px;
text-align:center;
box-sizing:border-box;
background-image:url(/static/images/Plank.png);
padding-right:35px;
background-size:100% 100%;
width:100%;
}
div.dashboardMessage{
position:absolute;
width:60%;
background-size:100% 100%;
left:20%;
top:7%;
font-size:18px;
height:85%;
box-sizing:border-box;
padding:10%;
padding-top:5%;
padding-right:15%;
background-image:url(/static/images/d_scroll.png);
}
span.scrollSubmit{
cursor:pointer;
}
div.playBut{
display:inline-block;
}
div.mainOptionDashboard{
background-image:url(/static/images/sea-battle.jpg);
}
div.mainOptionHome{
background-image:url(/static/images/Dck.png);
}
div.homeTable{
position:absolute;
bottom:0;
right:0;
background-image:url(/static/images/Table.png);
background-size:100% 100%;
width:70%;
height:40%;
z-index:997;
color:white;
}
div.homeMiniMapLabel{
position:absolute;
bottom:8%;
right:-20%;
color:white;
display:inline-block;
}
div.homeMiniMap{
position:absolute;
bottom:0;
left:-3%;
display:inline-block;
height:32%;
width:20%;
z-index:996;
font-family:cursive;
}
div.miniMapTable{
background-image:url(/static/images/Wood.png);
background-size:100% 100%;
position:absolute;
top:33px;
left:34%;
width:44%;
padding-bottom:44%;
border-radius:250px;
}
div.homeMiniMap > div.miniMapBox{
width:30px;
height:30px;
color:black;
background:white;
cursor:pointer;
text-align:center;
border-radius:30px;
position:absolute;
font-size:28px;
}
div.miniMapBox1{
top:19%;
left:24%;
}
div.miniMapBox2{
top:0;
left:40%;
}
div.miniMapBox3{
top:0;
left:60%;
}
div.miniMapBox4{
top:21%;
left:76%;
}
div.miniMapBox5{
bottom:7%;
left:50%;
}
div.pirates{
right:0;
bottom:0;
position:absolute;
width:70%;
height:70%;
}
div.pirates > div{
position:absolute;
width:150px;
height:250px;
}
img.stars{
position:absolute;
top:0;
width:50%;
left:25%;
}
img.pirate{
position:absolute;
top:10%;
height:80%;
width:100%;
}
div.pirate1{
left:7%;
bottom:25%;
}
div.pirate2{
left:33%;
bottom:35%;
}
div.pirate3{
right:30%;
bottom:35%;
}
div.pirate4{
right:5%;
bottom:27%;
}
div.homeTable > img.scroll{
position:absolute;
bottom:25%;
width:10%;
right:41%;
cursor:pointer;
}
div.yourCoins{
position:absolute;
bottom:1%;
left:45%;
font-size:30px;
}
div.p1Coins{
position:absolute;
top:26%;
left:13%;
font-size:20px;
}
div.p2Coins{
position:absolute;
top:5%;
left:39%;
font-size:20px;
}
div.p3Coins{
position:absolute;
top:5%;
right:36%;
font-size:20px;
}
div.p4Coins{
position:absolute;
top:21%;
right:12%;
font-size:20px;
}
span.money{
color:yellow;
font-weight:bold;
}
form.scrollInput{
text-align:center;
position:absolute;
left:-22%;
top:-130%;
width:100%;
height:220%;
font-size:20px;
background-image:url(/static/images/rules_scroll.png);
background-size:100% 100%;
display:inline-block;
padding:7% 16%;
box-sizing:border-box;
}
form.scrollInput.rolled{
display:none !important;
}
span.closeButton{
color:red;
font-weight:bold;
font-size:25px;
position:absolute;
right:16%;
top:10%;
font-family:cursive;
cursor:pointer;
}
span.labelText{
font-size:30px;
}
span.labelText.scrollError{
color:red;
}
form.scrollInput input,form.scrollInput input:focus{
position:relative;
font-size:20px;
margin-left:30px;
background:transparent;
border:0;
outline:0;
width:50px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
    line-height:
}

input[type=number]::-webkit-inner-spin-button:before {
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}
div.colorScr{
color:green;
}
div.colorScrent{
color:red;
}
span.yourTableCoins{
position:absolute;
bottom:0;
left:43%;
}
div.homeMiniMapLabel2{
bottom:35%;
left:1%;
color:white;
position:absolute;
}
div.miniMapBox{
box-shadow: 0px 0px 10px 1px green;
}
div.rulestext{
overflow-y:scroll;
max-height:70%;
padding:1%;
}
div.historyScores{
position:absolute;
left:0;
bottom:0;
width:23%;
height:60%;
cursor:pointer;
}
div.historyZoomed{
left:20% !important;
top:10% !important;
width:60% !important;
height:80% !important;
z-index:9999;
}
